.App {
  text-align: center;
}

.card {
margin:0;
background-size: cover;
opacity:inherit;
font-family: 'Monteserrat',helvetica,arial,sans-serif;
font-size:14px;
font-weight:400;
border: 1px;
box-sizing: border-box;
position: relative;
display: block;
width:500px;
height:400px;
margin:25px auto;
overflow:hidden;
border-radius: 10px;
transition:all 0.4s;
opacity:0.8s;

}
.card:hover{
  opacity:1;
  transform: scale(1.07);
}
